body {
  font-family: Nunito;
  color: #000000;
  padding: 0;
  margin: 0;

  background-image: url('./images/circles-light.png');
  background-repeat: repeat;
}

a, a:visited {
  color: #000000  ;
}

h1 {
}

h2 {
  font-family: 'Josefin Slab', 'Sacramento', serif;
}

h1 {
  margin-top: 0.2rem;
  font-size: 230%;
  font-weight: 800;
  font-family: 'Josefin Slab', serif;
}

.cursive {
  font-family: 'Sacramento', cursive;
  color: #ffffff;
  font-size: 500%;
  text-shadow: 3px 3px 3px #000000;
}

.smaller-text {
  font-size: 300%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
}

.card-img {
  width: 100%;
  border-radius: 5px;
}

.card-title {
  color: #000000;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.2);
  width: 400px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.white-bubble {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1rem;
}

#section0 {
  background-image: url(./images/Sean-und-Mari.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  position: relative;
}

#section0-text-overlay {
  position: absolute;
  bottom: 1rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

#section1 {
  max-width: 960px;
  margin: 0 auto 30px;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#section2 {
  background-image: url(./images/Sean-und-Mari-2.jpg);
  background-position: center -125px;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  padding: 1rem;
}

#section3 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#section4 {
  background-image: url(./images/Sean-und-Mari-3.jpg);
  background-position: center -0px;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  padding: 1rem;
}

#section5 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#footer {
  background-color: #666666;
  padding: 1rem;
}

#footer-text {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 100%;
  }
}
