body {
  font-family: Nunito;
  font-size: 12pt;
}

body {
  color: #000000;
  padding: 0;
  margin: 0;

  background-image: url('./images/circles-light.png');
  background-repeat: repeat;
}

a, a:visited {
  color: #000000  ;
}

h1 {
  margin-top: 0.2rem;
  font-size: 2.3rem;
  font-family: 'Josefin Slab', serif;
}

h2 {
  font-family: 'Josefin Slab', 'Sacramento', serif;
}

.cursive {
  font-family: 'Sacramento', cursive;
  color: #ffffff;
  font-size: 5rem;
  text-shadow: 3px 3px 3px #000000;
}

.cursive-smaller-text {
  font-size: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr); */
  grid-gap: 30px;
}

.card {
  /* position: relative; */
}

.card-img {
  width: 100%;
  border-radius: 5px;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.2);
  width: 400px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.white-bubble {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1rem;
}



.section {

}

.text-section {
  max-width: 960px;
  margin: 6rem auto;
  /* margin-top: 6rem;
  margin-bottom: 6rem; */
}

#section0 {
  background-image: url(./images/Sean-und-Mari.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  position: relative;
}

#section0-text-overlay {
  position: absolute;
  bottom: 1rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

#section1 {
}

#section2 {
  background-image: url(./images/Sean-und-Mari-2.jpg);
  background-position: center -125px;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  padding: 1rem;
}

#section3 {
}

#section4 {
  background-image: url(./images/Sean-und-Mari-3.jpg);
  background-position: center -0px;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  padding: 1rem;
}

#section5 {
}

#footer {
  background-color: #666666;
  padding: 1rem;
}

#footer-text {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  color: #cccccc;
  text-align: center;
}


@media(max-width: 980px) {
  body {
    font-size: 16pt;
  }

  /* p,
  h1,
  h2,
  h3,
  div {
font-size: 16pt;
  } */

  .cursive {
    font-size: 8rem;
  }

  .cursive-smaller-text {
    font-size: 5rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .text-section {
    margin: 8rem 4rem;
  }

  .bubble {
    width: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
  }

  p, ul {
    font-size: 2.3rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  #section2 {
    position: relative;
    background-position: -1000px 0;
  }

  #section2-text-overlay {
    position: absolute;
    bottom: 4rem;
    margin: 0 2rem;
    left: 0;
    right: 0;
  }

  /* The schedule section is really packed! */
  #section2 h1, #section2 h3, #section2 p, #section2 ul {
    margin-top: 1rem;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #section4 {
    position: relative;
    background-position: -850px 0;
  }

  #section4-text-overlay {
    position: absolute;
    bottom: 4rem;
    margin: 0 2rem;
    left: 0;
    right: 0;
  }

  #section4 h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
